* {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer {
  background-color: #0093d1;
  color: white;
  padding: 10px 80px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1 1 250px;
  margin: 20px;
}

.footer-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.contact-title {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact-item .icon {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.download-app p {
  margin-top: 20px;
  font-weight: 600;
}

.app-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.app-buttons img {
  width: 200px;
  height: auto;
}

.section-title {
  font-size: 1.1rem;
  font-weight: 600;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  margin-bottom: 30px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

ul li {
  margin-bottom: 6px;
  font-size: 0.95rem;
}

hr {
  border: none;
  border-top: 1px solid white;
  margin: 30px 0;
}

.footer-copy {
    margin: 0;
  text-align: center;
  font-size: 0.9rem;
  opacity: 0.9;
}

.separator {
    margin: 10px 0px;
}
