/* CENTRALIZAÇÃO */
.form-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

/* CARTÃO */
.form-card {
  width: 420px;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);
  border: 1px solid #e0e0e0;
}

.form-card h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #2c3e50;
}

/* LABELS */
label {
  font-weight: 600;
  color: #333;
  margin-top: 12px;
  display: block;
}

/* INPUTS */
input, select {
    box-sizing: border-box;
    width: 100%;
  padding: 10px 12px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
  transition: 0.25s;
}

/* FOCUS */
input:focus,
select:focus {
  border-color: #3498db;
  outline: none;
  box-shadow: 0 0 6px rgba(52, 152, 219, 0.3);
}

/* BOTÃO */
button {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background: #3498db;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #2980b9;
}

textarea {
    box-sizing: border-box;
  width: 100%;
  padding: 10px 12px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
  resize: vertical;
  transition: 0.25s;
}

textarea:focus {
  border-color: #3498db;
  outline: none;
  box-shadow: 0 0 6px rgba(52, 152, 219, 0.3);
}
