* {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  padding: 20px 40px;
  margin-left: 200px;
  margin-right: 200px;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.cabecalho h2 {
  font-size: 1.4rem;
}

.cabecalho span {
  color: #0070c9;
  border-bottom: 3px solid #0070c9;
  padding-bottom: 3px;
}

.ver-todos {
  color: #0070c9;
  font-weight: 500;
  text-decoration: none;
}

.lista-produtos {
  display: flex;
  justify-content: space-between;
  gap: auto;
  overflow-x: auto;
}

.produto {
  position: relative;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: 200px;
  flex-shrink: 0;
  text-align: center;
}

.produto img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.desconto {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #0070c9;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 4px 6px;
  border-radius: 4px;
}

.preco {
  font-weight: bold;
}

.preco-antigo {
  text-decoration: line-through;
  color: gray;
  font-size: 0.9rem;
  margin-left: 5px;
}

.economia {
  color: green;
  font-size: 0.9rem;
  margin-top: 5px;
}
